body {
    background-color: rgb(87, 82, 82);
    width: 100%;
    height: auto;
    overflow-x: hidden;
    }
    
    body ::selection{
    background: rgb(4, 3, 3);
    color:white;
    }
    
    body {
    background: rgb(89,86,86);
    background: linear-gradient(190deg, rgb(16, 8, 8) 1%, rgb(49, 39, 56) 90%);
    }
    