body {
    background: linear-gradient(190deg, rgb(16, 8, 8) 1%, rgb(49, 39, 56) 90%);
    background-color: rgb(87, 82, 82);
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #30213e, #361348, #0d011c, #510f5f);
    background-size: 400% 400%;
    animation: gradientMove 15s ease infinite;
    }
    
    body ::selection{
    background: rgb(4, 3, 3);
    color:white;
    }
    
   
    
    @keyframes gradientMove {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    

    .table {
        padding: 5px 12px;
        background: rgba(116, 80, 116, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        color: white;
        font-weight: bold;
        transition: background 0.3s ease, transform 0.3s ease;
        backdrop-filter: blur(10px);
        cursor: pointer;
        text-align: center;
        width: 70vw;  
        height: 70vh;  
        position: absolute;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);  
      }
      
       
      @media (max-width: 768px) {
        .table {
          width: 80vw; 
          height: 25vh;  
        }
      }
      

      .Go_back {
        padding: 5px;
        color: white;
        border-color: aliceblue;
        border-radius: 5px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        position: absolute;
        text-align: center;
        margin-top: 5px;
      }

      .Go_back:hover {

        cursor: pointer;
      }


      .column_1 {
        
        padding: 5px 12px;
        background: rgba(116, 80, 116, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        color: white;
        font-weight: bold;
        transition: background 0.3s ease, transform 0.3s ease;
        backdrop-filter: blur(10px);
        cursor: pointer;
        text-align: center;
        width: 30vw; 
        height: 60vh;  
        position: absolute;
        top: 50%; 
        left: 26%;
        transform: translate(-50%, -50%); 
      }

      .column_2 {
        
        padding: 5px 12px;
        background: rgba(116, 80, 116, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        color: white;
        font-weight: bold;
        transition: background 0.3s ease, transform 0.3s ease;
        backdrop-filter: blur(10px);
        cursor: pointer;
        text-align: center;
        width: 30vw; 
        height: 25vh; 
        position: absolute;
        top: 29.08%; 
        left: 74%; 
        transform: translate(-50%, -50%); 
      }

      
      .column_3 {
        
        padding: 5px 12px;
        background: rgba(116, 80, 116, 0.2);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        color: white;
        font-weight: bold;
        transition: background 0.3s ease, transform 0.3s ease;
        backdrop-filter: blur(10px);
        cursor: pointer;
        text-align: center;
        width: 30vw; 
        height: 25vh; 
        position: absolute;
        top: 70.8%; 
        left: 74%; 
        transform: translate(-50%, -50%); 
      }


      @media (max-width: 768px) {
        .column_1, .column_2 {
          width: 40%; 
          height: 50%; 
        }
      }


      .column_1 h1{
        padding: 5px 12px;
        background: rgba(14, 10, 14, 0.2);
        border: 1px solid rgba(11, 9, 9, 0.3);
        border-radius: 10px;
        color: rgb(218, 209, 209);
      }

      .column_1 h4{
        padding: 5px 12px;
        background: rgba(27, 22, 27, 0.2);
        border: 1px solid rgba(11, 9, 9, 0.3);
        border-radius: 10px;
        color: rgb(218, 209, 209);
      }

      .column_2 h4{
        padding: 5px 12px;
        background: rgba(27, 22, 27, 0.2);
        border: 5px solid rgba(11, 9, 9, 0.3);
        border-radius: 5px;
        color: rgb(218, 209, 209);
      }

      .column_2 h5{
        padding: 5px 12px;
        background: rgba(27, 22, 27, 0.2);
        border: 5px solid rgba(11, 9, 9, 0.3);
        border-radius: 10px;
        color: rgb(218, 209, 209);
        height: 70px;
        text-align: center;
        margin-top: -6px;
      }

      .column_3 h2{
        
        color: rgb(218, 209, 209);
        height: 70px;
        margin-top: -4px;
        
      }

      .column_3 h1{
        color: rgb(218, 209, 209);
        margin-top: -90px;
    
      }

      .column_3 h5{
        color: rgb(218, 209, 209);
        margin-top: -40px;
       font-size: large;
     
    
      }

      #gmail_img {
        width: 31px;
        height: 31px; /* optional */
      }
      